/*
 * Declaración de varibles
 */
@font-face {
	font-family: 'main-font';
 	src: url('../font/Oswald/static/Oswald-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'sd-font';
 	src: url('../font/Share_Tech/ShareTech-Regular.ttf') format('truetype');
}


:root {
	--main-color: #ffffff;
	--txt-color: #1f2421;
	--sd-color: #49a078;
	--td-color: #dce1de;
	--boder-width: 3px;
}

/*
 * Condiguraciones generales
 */
* {
	margin: auto;
	font-family: 'main-font', 'sd-font';
	background-color: var(--main-color);
	color: var(--txt-color);
}

h1, h2, h3 {
	color: var(--sd-color);
	font-weight: bold;
	padding: 5px;
}
.p-30 {
	padding: 30px;
}

.p-10 {
	padding: 10px;
}

.p-5 {
	padding: 5px;
}

.m-30 {
	margin: 30px;
}

.m-10 {
	margin: 10px;
}

.m-5 {
	margin: 5px;
}

.fs-50 {
	font-size: 50px;
}

.fs-40 {
	font-size: 40px;
}

.fs-30 {
	font-size: 30px;
}

.fs-20 {
	font-size: 20px;
}

.fs-12 {
	font-size: 12px;
}
.is-flex {
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
}

body {
	width: 100%;
	min-width: 1200px;
    	justify-content: center;
    	background-color: var(--main-color);
}

nav, header, section, footer {
	width: 100%;
	padding: 5px;
}

section {
	margin: 10px 0px;
}
/*
 * Clases genericas
 */

.align-center {
	text-align: center;
}

/*
 * Horizontal Card
 */

.max-container {
	width: 100%;
	position: relative;
	display: inline-flex;
	justify-content: space-between;
}

.card-container {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.dir-flex-col {
	flex-direction: column;
}

.dir-flex-row {
	flex-direction: row;
}

.card-container > .card {
	min-width: 25%;
	display: flex;
	position: relative;
	margin: 10px;
	border-bottom: var(--boder-width) solid var(--sd-color);
    	box-shadow: 0 20px 50px rgba(0,0,0,0.1);
}

svg {
	width: 40px;
	height:40px;
}

svg > * {	
	stroke: var(--sd-color);
}

.card-container > .card:hover {
    	box-shadow: 0 20px 50px rgba(0,0,0,0.3);
}

.border--left {
	border-left: var(--boder-width) solid var(--sd-color);
}

.border--right {
	border-right: var(--boder-width)  solid var(--sd-color);
}

.card ._image {
	overflow: hidden;
	width: 60%;
}

.card ._content {
	width: 70%;
}

.card ._content > h3 {
	color: var(--sd-color);
}

/*
/*
 * Diseño de las secciones
 */
#services {

}
/*Aqui empiezan las reglas de las sección equipo*/
.TituloEquipo{
	font-family: main-font;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	line-height: 49px;
	text-align: center;
	color: #49A078;
}
.IconoTituloEquipo{
	position: relative;
	bottom: 40px;
	width: 40.63px;
	left: 15px;
	height: 43.37px;
	margin-left: 690px;
	color: #47db96;
}
.bordeCelda{
	border: 2px solid #CCDBDC;
	border-radius: 5px;
	width:247.28px ;
	height: 350px;
}
.bordeTabla{
	border-spacing: 45px;
}
.ImagenEquipo{
	border-radius: 5px;
	width: 91.25px;
	height: 97.5px;
}
.NombreEquipo{
	font-family: main-font;
	font-size: 26px;
	font-style: normal;
	line-height: 30,55px;
	text-align: center;
	color: #49A078;
}
.DescripcionEquipo{
	font-family: main-font;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #000000;
}
.ListaEquipo{
	padding-left: 0px;
}
/*Aqui terminan las reglas de las sección equipo*/

#news {

}
/* Sección de estilos de servicios */
.seccion-servicio{
	width: 100%;
	height: 380px;
	min-width: 1200px;
}
.sub_titservicios{
	display: flex;
	width: 100%;
	height: 80.58px;
	align-items: center;
}
.tit-servicio{
	font-size: 42px;
	color: #49A078;
	margin-left: 600px;
}
.icons_tit{
	width: 50px;
	height: 50px;
	margin-left: 25px;
}
.servicio{
	display: flex;
	flex-direction: column;
	width: 30%;
	width: 290px;
	height: 270px;
	border: 2px solid #ccdbdc;
	border-radius: 5px;
	align-items: center;
}
.sub_servicios{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.icons{
	width: 50px;
	height: 50px;
	margin-top: 15px;
}
.servicio1{
	margin-left: 45px;
	align-content: center;
}
.servicio3{
	margin-right: 45px;
}
.tit-service{
	font-size: 26px;
	color: black;
	text-align: center;
}
.ptit-service{
	margin-bottom: 0px;
}
.descripcion{
	font-size: 14px;
	color: black;
	text-align: center;
}
.descrip{
	margin-top: 5.98px;
}
.link{
	font-size: 14px;
	color: #49A078;
	text-decoration: none;
}
.link1{
	margin-top: 16.8px;
}
.link2{
	margin-top: 33.6px;
}