@font-face {
	font-family: 'main-font';
 	src: url('../font/oswald/static/Oswald-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'main-font-bold';
 	src: url('../font/oswald/static/Oswald-Bold.ttf') format('truetype');

}

@font-face {
	font-family: 'secundary-font';
 	src: url('../font/share_tech/ShareTech-Regular.ttf') format('truetype');
}

:root {
	--main-color: #ffffff;
	--text-color: #1f2421;
	--secundary-color: #49a078;
	--dark-color: #dce1de;

	--main-font: main-font;
	--main-font-bold: main-font-bold;
	--secundary-font: secundary-font;
	--border-simple: 1px;
	--border-bold: 3px;
}
