@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech&display=swap');

:root {
	--main-color: #ffffff;
	--text-color: #1f2421;
	--secundary-color: #49a078;
	--dark-color: #dce1de;
	--complementary-color: #e07a5f;

	--main-font: 'Oswald';
	--secundary-font: 'Share Tech';
	--border-simple: 1px;
	--border-bold: 3px;

	--font-size: 13px;
	--ft-title: 40px;
	--sd-title: 30px;
	--td-title: 20px;
}
